#comment-list {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 60px;
    width: 70vw;

}

.comment-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
    justify-content: space-between;
}

.comment-author-initial {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid rgb(226, 73, 59);
    background-color: rgb(238, 73, 58);
    color: white;
    font-size: 16px;
    text-align: center;
}

.name-date {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
}

.comment-body {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: flex-start;
    align-self: baseline;
}

.comment-author-name {
    font-weight: 800;
}

.comment-upload-date {
    color: gray;
    margin-left: 10px;
}

.comment-text {
    margin-left: 10px;
}

.comment-page-title {
    font-size: 18px;
    font-weight: 500;
}

.create-comment-body {
    width: 63vw;
    margin-left: 20px;
    margin-top: 3px;
    padding: 11px;

}

#comment-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
}

.comment-submit-button {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 5px;
    /* display: none; */
}

.comment-submit-button button {
    width: 130px;
    height: 40px;
    background-color: rgb(0, 173, 239);
    border: 1px solid rgb(0, 173, 239);
    border-radius: 3.5px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.submit-button-text {
    margin-left: 15px;
    font-size: 12px;
    color: rgb(0, 173, 239);
    /* text-decoration: underline; */
    align-self: center;
}

.comment-form-header {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
}

.comment-form-author-initial {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid rgb(226, 73, 59);
    background-color: rgb(238, 73, 58);
    color: white;
    font-size: 14px;
    text-align: center;
    margin-left: 60px;
    margin-top: 42px;
}

#delete-button {
    align-self: end;
    color: red;
    font-weight: 700;
    margin-top: 7px;
    cursor: pointer;
    display: none;
    margin-right: 10px;
}

.comment-list-item:hover > #delete-button {
    display: block;
}

#left-side {
    display: flex;
    flex-direction: row;
}

