div.home-container {
    height: calc(100vh - 150px);
    overflow-y: scroll;
    margin-left: 227px;
}

div.video-page-container {
    height: calc(100vh - 150px);
    overflow-y: scroll;
    margin-left: 227px;
    
}

#video-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 140vw;
    margin-left: 40px;
    height: 669px;
    /* position: absolute; */
}

@media only screen and (max-width: 1150px ) {
    #video-list {
        flex-direction: column;
    }
    #video-page-list {
        flex-direction: column;
    }
}

#video-page-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: 40px;
    height: 669px;
}

.home-list-item {
    width: 260px;
    height: 300px;
    border: 0.5px solid lightgray;
    border-radius: 5.5px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(113, 113, 113, 0.2), 0 6px 20px 0 rgba(142, 142, 142, 0.1);
}

#gradient {
    width: 10%;
    position: absolute;
    height: 80%;
    margin-top: -669px;
    float: right;
    left: 90%;
    background: linear-gradient(to left, #fff, transparent 100%);
}

.home-video {
    margin-top: 15px;
    background-color: black;
    height: 160px;
    width: 260px;
    cursor: pointer;
    opacity: 1;
} 

.home-video:hover {
    color: black;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-size: 100% 98%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    mask-size: 100% 98%;
    mask-repeat: no-repeat;
    mask-position: top;
}

.video-title {
    color: #17272E;
    font-size: 14px;
    margin-left: 15px;
    font-weight: 900;
    margin-top: 7px;
}

.video-upload-date {
    font-size: 14px;
    margin-left: 15px;
    font-weight: 400;
    margin-top: 7px;
    color: grey;
}

.video-owner-name {
    color: #17272E;
    font-size: 14px;
    margin-left: 15px;
    font-weight: 900;
    margin-top: 27px;
}

.video-user-name {
    color: #17272E;
    font-size: 14px;
    margin-left: 15px;
    font-weight: 900;
    margin-top: 15px;
    padding-top: 15px;
}

.home-title {
    overflow-y: scroll;
    align-self: start;
    font-size: 27px;
    margin-left: 282px;
    margin-top: 33px;
    margin-bottom: 17px;
    font-weight: 500;
}

.home-video-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 15px;
}

.home-video-header-1 {
    margin-right: 8px;
    color: gray;
}

.home-video-header-2 {
    font-weight: 500;
}

.home-footer {
    display: inline-flex;
    margin: 25px;
    align-self: start;
    /* margin-left: 282px; */
    margin-left: 60px;
    
}

.home-footer-1 {
    font-size: 12px;
    color: #8494A4;
    margin-right: 15px;
    margin-top: 5px
}

.home-footer-2 {
    font-size: 12px;
    color: #8494A4;
}

._3Weix {
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.home-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#scroll-container {
    display: flex;
    flex-direction: row;
    width: 100px;
    margin-right: 25px;
    justify-content: space-between;
    margin-top: 15px;
}

#slideLeft {
    cursor: pointer;
    height: fit-content;
    align-self: center;
    background-color: transparent;
}

#slideLeft > img {
    zoom: 68%;
    padding: 15px;
}

#slideRight {
    cursor: pointer;
    height: fit-content;
    align-self: center;
    background-color: transparent;
}

#slideRight > img {
    zoom: 72%;
    padding: 15px;
}

#slideRight:hover {
    background-color: rgba(245, 244, 244, 0.781);
    border: 0.1px solid rgba(245, 244, 244, 0.781);
    border-radius: 3.5px;
}

#slideLeft:hover {
    border: 0.1px solid rgba(245, 244, 244, 0.781);
    background-color: rgba(245, 244, 244, 0.781);
    border-radius: 3.5px;
}

.carousel {
    background: linear-gradient(to right, white, transparent 90%);
}

/* #home-ul {
    position: absolute;
    left: 228px; 
} */



