.gradient {
    width: 100%;
    height: 3px;
    background-image: -webkit-linear-gradient(left,#73D2F6,#08C 22%,#7FC400 36%,#FFD583 48%,#FFB21E 63%,#FF4D4D 76%,#503873);
    /* background-image: linear-gradient(to right,#73D2F6,#08C 22%,#7FC400 36%,#FFD583 48%,#FFB21E 63%,#FF4D4D 76%,#503873); */
}

.loggedin-nav {
    display: flex;
    flex-direction: row;
    background-color: #F2F4F5;
    width: 100%;
    height: 59px;
    border: 1px solid lightgray;
    justify-content: space-between;
    outline: transparent;
}

.left-nav {
    display: inline-flex;
    align-self: center;
}

.right-nav {
    display: inline-flex;
    padding-left: 20px;
}

.loggedin-header-logo {
    color: rgb(26, 46, 59);
    margin-left: 32px;
    margin-right: 10px;
}

.loggedin-manage {
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: grey;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
}

.loggedin-watch {
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: grey;
    /* margin: left 10px; */
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.nav-new-video {
    margin-left: 10px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 8px;
    text-align: center;
    color: white;
    background-color: rgb(0, 173, 239);
    border: 1px solid rgb(0, 173, 239);
    border-radius: 4.5px;
    width: 110px;
    size: 22px;
    text-decoration: none;
    padding-top: 11px;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.7px;
    -webkit-box-align: center;
    margin-right: 27px;
}

.nav-new-video:hover {
    background-color: rgb(0, 111, 155);
    border: 1px solid rgb(0, 111, 155);
}

.dropbtn {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid rgb(226, 73, 59);
    background-color: rgb(238, 73, 58);
    margin-top: 11px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    z-index: 20;
}

/* .dropdbtn:hover { transform: scale(2.1); } */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0px;
  right: -4px;
  margin-top: 16px;
  /* width: 250px; */
  /* size: 3px; */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  size: 10px;
  width: 200px;
  font-size: 14px;
}

.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown-content .loggedin-logout:hover {background-color: lightgrey}

.dropdown {
    width: 40px;
    /* background-color: aquamarine; */
    /* margin-left: 715px; */
    padding-left: 10px;
    padding-right: 7px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown-content .loggedin-logout {
    height: 23px;
    padding: 5px;
    /* justify-content: center; */
    /* align-content: center; */
    padding-top: 15px;
    /* border-top: 1px solid lightgrey; */
    padding-left: 15px;
    padding-right: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.dropdown-content .user-name {
    color: black;
    height: 30px;
    padding-top: 20px;
    text-align: left;
    margin-left: 15px;
    font-weight: bold;
    margin-right: 15px;
    font-size: 14px;
    /* width: 100%; */
    align-self: center;
} 

#user-profile-link {
    color: #00adef;
    font-size: 13px;
    text-align: start;
    cursor: pointer;
    padding-top: 0;
    background-color: transparent;
}

.dropdown-content .a-items {
    border-top: 1px solid lightgray;
    /* margin-top: 15px; */
    padding-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.search-form {
    align-self: center;
    display: flex;
    flex-direction: row;
}

.search-input {
    width: 250px;
    outline-style: none;
    height: 29px;
    margin-right: 10px;
    border: 1px solid lightgray;
    border-radius: 3.5px;
    text-indent: 15px;
    color: grey;
    font-size: 15px;
}

@media only screen and (max-width: 830px ) {
    .search-input {
        width: 150px;
     }
}

#search-button {  
    cursor: pointer;
}

#search-icon {
    height: 14px;
    margin-left: -55px;
}

