.search-title {
    overflow-y: scroll;
    align-self: start;
    font-size: 23px;
    margin-left: 282px;
    margin-top: 33px;
    margin-bottom: 17px;
    font-weight: 400;
    display: inline-flex;
}

.search-words {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 800;
    margin-top: -5px;
    padding-bottom: 5px;
}