body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(251, 242, 246);
    padding-top: 25px;
    padding-bottom: 30px;
}

 .splash-header-logo {
    color: rgb(26, 46, 59);
    margin-left: 75px;
    margin-top: 25px;
}

.signup-btn {
    margin-right: 5px;
    padding-left: 20px;
    margin-left: 30px;
    border: solid 1px lightgray;
    border-radius: 2.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.signup-btn:hover {
    border-color: black;
}

.login-btn {
    margin-right: 28px;
    padding-left: 14px;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 350;
    color: black;
    text-decoration: none;
}

.splash-right-nav {
    margin-top: 19px;
    margin-right: 57px;
}

.new-video-btn {
    margin-right: 5px;
    padding-left: 20px;
    border: solid 1px black;
    background-color: black;
    border-radius: 3.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;  
}

.new-video-btn:first-letter {
    font-size: 50px;
}

@media only screen and (max-width: 768px) {

    .splash-nav {
        flex-direction: column;
        justify-content: center;
        display: flex;
        width: 100%;
        background-color: #fbf2f6;
        padding-top: 25px;
        padding-bottom: 30px;
    }

    .splash-right-nav {
        align-self: center;
        margin: 0px;
        margin-top: 40px;
    }

    .splash-left-nav {
        display: inline-flex;
        align-items: flex-end;
        align-self: center; 
    }

    .splash-header-logo {
        margin-left: 0px;
    }

    .login-btn {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 1200px) {

    [class*="splash-section-"] {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    [class*="section-content-"] {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 0px;
        margin-right: 0px;
        align-self: center;
    }

    [class*="text-section"] {
        margin-left: 0px;
        margin-right: 0;
    }

    .splash-section-2 {
        flex-direction: column-reverse;
    }

    .splash-section-4 {
        flex-direction: column-reverse;
    }
}

 

